USE [master]
GO
/****** Object:  Database [WeatherDB]    Script Date: 20/05/2021 12:22:53 pm ******/
CREATE DATABASE [WeatherDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Weather', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Weather.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Weather_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Weather_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WeatherDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WeatherDB]
GO
/****** Object:  Table [dbo].[Weather]    Script Date: 20/05/2021 12:22:53 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Weather](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](256) NOT NULL,
	[TempDate] [date] NULL,
	[TempTime] [time](7) NULL,
	[Temperature] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WeatherHistory]    Script Date: 20/05/2021 12:22:53 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeatherHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](256) NULL,
	[TempDate] [date] NULL,
	[TempTime] [time](7) NULL,
	[Temperature] [float] NULL,
	[weatherId] [int] NULL,
 CONSTRAINT [PK_WeatherHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Weather] ON 

INSERT [dbo].[Weather] ([Id], [CityName], [TempDate], [TempTime], [Temperature]) VALUES (2, N'multan', CAST(N'2021-05-20' AS Date), CAST(N'06:06:07.8950000' AS Time), 50)
INSERT [dbo].[Weather] ([Id], [CityName], [TempDate], [TempTime], [Temperature]) VALUES (3, N'Karachi', CAST(N'2021-05-19' AS Date), CAST(N'18:21:03.6940000' AS Time), 39)
INSERT [dbo].[Weather] ([Id], [CityName], [TempDate], [TempTime], [Temperature]) VALUES (4, N'Main Channu', CAST(N'2021-05-20' AS Date), CAST(N'04:50:56.1770000' AS Time), 33)
SET IDENTITY_INSERT [dbo].[Weather] OFF
GO
SET IDENTITY_INSERT [dbo].[WeatherHistory] ON 

INSERT [dbo].[WeatherHistory] ([Id], [CityName], [TempDate], [TempTime], [Temperature], [weatherId]) VALUES (2, N'Multan', CAST(N'2021-05-19' AS Date), CAST(N'18:18:23.4490000' AS Time), 45, 2)
INSERT [dbo].[WeatherHistory] ([Id], [CityName], [TempDate], [TempTime], [Temperature], [weatherId]) VALUES (3, N'multan', CAST(N'2021-05-20' AS Date), CAST(N'05:45:25.2740000' AS Time), 38, 2)
SET IDENTITY_INSERT [dbo].[WeatherHistory] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [cityname_unique]    Script Date: 20/05/2021 12:22:54 pm ******/
ALTER TABLE [dbo].[Weather] ADD  CONSTRAINT [cityname_unique] UNIQUE NONCLUSTERED 
(
	[CityName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Weather__886159E5D2FD2040]    Script Date: 20/05/2021 12:22:54 pm ******/
ALTER TABLE [dbo].[Weather] ADD UNIQUE NONCLUSTERED 
(
	[CityName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
